extends layout 

block content 

    div(style='margin-left:10px;margin-top:20px')
        h2 Author: #{author.name}
        span (#{author.format_dob} - #{author.format_dod})
        br
        div(style='margin-top:20px')
            p(style='display:inline;') #[a(href=author.url + '/delete') #[strong Delete Author]]
            form(method='GET', action=author.url+'/update', style='display:inline;')
                button.btn.btn-primary(type='submit', style='margin-left:10px; font-size:13px; padding: 3x;') Update Author
        hr
        
        div(style='margin-left:20px')
            h4 Books
            each book in books 
                p #[a(href= book.url) #{book.title}]
                p #{book.summary}
                hr
            else 
                p Author has no books. 
