extends layout 

block content 
    div(style='margin-left:20px;margin-top:20px')
        h2 Book - #{book.title}
        p #[strong Author:] 
            a(href=book.author.url) #{book.author.name} 
        p #[strong Summary:] #{book.summary} 
        p #[strong ISBN:] #{book.isbn} 
        p #[strong Genre:] 
            each genre in book.genre
                a(href= genre.url) #{genre.name}, 
            else 
                span.text-warning Unavailable 
        form(method='POST', action=book.url+'/delete')
            button.btn.btn-danger(type='submit', style='margin-bottom:20px; padding:3px; font-size:13px;') Delete Book
        
        if copies
            p #[span.text-danger #[strong Delete the following copy(s) before attempting to delete this book.]]
        
        div(style='margin-left:30px')
            h3 Copies
            hr
            each instance in instances
                if instance.status == 'Available'
                    p #[strong Status: #[span.text-success #{instance.status}]]
                if instance.status == 'Maintenance'
                    p #[strong Status: #[span.text-danger #{instance.status}]]
                if instance.status == 'Loaned'
                    p #[strong Status: #[span.text-warning #{instance.status}]]
                p #[strong Imprint:] #{instance.imprint}
                p #[strong Id:] #[a(href=instance.url) #{instance._id}]
                if instance.status != 'Available'
                    p #[strong Due Back:] #{instance.format_date}
                hr
            else 
                p.text-danger No copies found
                