extends layout 

block content  

    div(style="margin-top:20px;margin-left:20px")
        if instance == null 
            h4.text-danger This instance does not exist anymore
        else 
            h2 Book Copy ID: #{instance._id} 
            if err
                p #[span.text-danger #[strong Can only delete instance with status "Available"]]
            p #[strong Title: ] #{book.title} 
            p #[strong Imprint: ] #{instance.imprint} 
            if instance.status == 'Available'
                p #[strong Status: ] #[span.text-success #{instance.status}] 
            if instance.status == 'Loaned'
                p #[strong Status: ] #[span.text-warning #{instance.status}] 
                p #[strong Due Back: ] #{instance.format_date}
            if instance.status == 'Maintenance'
                p #[strong Status: ] #[span.text-danger #{instance.status}] 
                p #[strong Due Back: ] #{instance.format_date} 
            form(method='GET', action=instance.url+ '/update', style='display:inline;margin-top:5px')
                button.btn.btn-primary(type=submit, style='margin-bottom:20px; padding:3px; font-size:13px;') Update Instance
            form(method='POST', action=instance.url+ '/delete?book=' + book._id, style='display:inline;margin:10px')
                button.btn.btn-danger(type=submit, style='margin-bottom:20px; padding:3px; font-size:13px;') Delete Instance
            // p #[a(href=instance.url + '/delete') #[strong Delete Instance]]