extends layout 

block content 
    div(style='margin-top:20px;margin-left:20px')
        h2 Author: #{author.name}
        span #{author.format_dob} - #{author.format_dod}
        
        if author_books.length 
            p #[strong Delete the following books before attempting to delete this author.]
        
            div(style='margin-top:20px;margin-left:20px')
                h4 Books

                each book in author_books
                    p #[a(href=book.url) #{book.title}]
                    p #{book.summary}
                    hr
        else
            div(style='margin-top:20px')
                form(method='POST', action='')
                    input(id='book', name='author', type='hidden', class='form-control', value=author._id) 
                    button.btn.btn-danger(type='submit') Delete Author